<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/page.js"></script>
		<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="stylesheets/page.css">
		<title>SeedBoard - Login</title>
	</head>
	<body>
		<img src="img/back.jpeg" id="ground">
		<div class="col-md-12" id="header">
			<h1>SeedBoard</h1>
		</div>
		<div class="col-md-6 col-md-offset-3" id="sign">
			<form action="/" method="post">
				<p><strong>Nom d'utilisateur</strong></p>
				<input type="text" name="login" class="log">
				<br></br>
				<p><strong>Mot de Passe</strong></p>
				<input type="password" name="pass" class="log">
				<br></br>
				<input type="submit" id="sub" value="Se connecter !">
			</form>
		</div>
	</body>
</html>
